@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url(https://d1unjqcospf8gs.cloudfront.net/assets/Gilroy-Bold-76f01426d347c0a032cb7669f76f457dfe153f125b58f0ab76a71693796c6918.woff);
}
* {
  margin: 0;
  padding: 0;
}
html {
  min-width: 980px;
  height: 100%;
  font-size: 62.5%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  min-height: calc(100% - 77px);
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.header_line {
  max-width: 120rem;
  height: 6.4rem;
  padding: 1.2rem 2rem;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}
.header_logo {
  display: inline-flex;
  align-items: center;
  margin-right: 3.6rem;
}
.header_items {
  align-items: center;
  display: flex;
  width: 100%;
  padding-top: 0;
  padding-right: 4rem;
  padding-bottom: 0;
  padding-left: 0;
}
.h_ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.h_li {
  display: inline-block;
  margin: 0;
}
.h_item {
  line-height: 1.32;
  font-weight: 700;
  font-size: 1.8rem;
  color: #4d5159;
  font-style: normal;
  margin-right: 3rem;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.h_item:hover {
  color: #868b94;
}
.h_icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.h_searchBox {
  display: block;
  position: relative;
  margin-right: 1.2rem;
}
.h_searchText {
  width: 28.8rem;
  line-height: 1.36;
  font-size: 1.6rem;
  background-color: #f2f3f6;
  box-sizing: border-box;
  height: 4rem;
  padding: 0.9rem 1.2rem;
  border: none;
  border-radius: 0.6rem;
  color: #212124;
  margin: 1.6rem 0;
}
input.h_searchText {
  outline: none;
}
.h_chatButton {
  line-height: 1.3;
  font-size: 1.6rem;
  font-weight: 700;
  display: block;
  white-space: nowrap;
  background-color: #ffffff;
  color: #212124;
  padding: 0.8rem 1.6rem;
  min-height: 4rem;
  margin: 1.6rem 0;
  border-radius: 0.4rem;
  border: 1px solid #d1d3d8;
}
.h_chatButton:hover {
  background-color: #f2f3f6;
  opacity: 0.7;
}

#first {
  padding-top: 24px;
  background-color: #fffae0;
}

#first #first-main {
  width: 1024px;
  height: 760px;
  margin: 0 auto;
  position: relative;
  background-color: #fffae0;
}

#first .first-main-title {
  font-size: 54px;
  font-weight: 700;
  line-height: 73px;
  padding-top: 200px;
  margin-top: 0;
  margin-bottom: 3.2rem;
  margin-right: 0;
  margin-left: 0;
}

.first-main-text {
  font-size: 20px;
  font-weight: 400;
  color: #7c7c7c;
  line-height: 30px;
}

#first-download-buttons {
  margin-top: 20px;
}

.first-download-button {
  width: 180px;
  height: 56px;
  border-radius: 10px;
  background-color: #ff6f0f;
  box-sizing: border-box;
  text-decoration: none;
  padding: 14px 2rem;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: 1rem;
}
.first-download-button:hover {
  background-color: #f06000;
}

.first-download-img {
  fill: #fff;
  vertical-align: middle;
  display: inline-block;
  width: 25px;
}
.first-download-text {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  margin-left: 8px;
  font-weight: 700;
  vertical-align: middle;
  line-height: 28px;
}

.first-main-image {
  position: absolute;
  right: -84px;
  bottom: 0;
  width: 655px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: 804px 685px;
}

/* body section */
.b_main_section {
  background-color: #f9f9f9;
}

.b_home_main_section {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.b_main_image {
  width: 655px;
  height: 750px;
}

.b_service_title {
  color: #ff6f0f;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}

.b_main_title {
  font-size: 40px;
  line-height: 55px;
  margin: 10px 0px;
}

.b_service_comment {
  color: #7c7c7c;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.b_main_buttons {
  margin-top: 30px;
}

.b_main_button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #e9ecef;
  border-radius: 6px;
  padding: 12px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.b_main_button:hover {
  background-color: gainsboro;
}

.b_main_reverse {
  flex-direction: row-reverse;
}

.b_main_story_list {
  margin-top: 50px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0px;
}

.b_main_story_list_item {
  margin-right: 5px;
  margin-left: 0px;
  width: 140px;
}

ul li {
  margin: 5px;
}

.b_story_list_image {
  width: 55px;
}

.b_story_title {
  margin: 12px 0px 5px 0px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
}

.b_story_comment {
  font-weight: 400;
  font-size: 13px;
  color: #7c7c7c;
  line-height: 17px;
}

#footer_root {
  border-top: 1px solid lightgray;
  padding: 0 1.6rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 100vw;
}
.footer_body {
  display: flex;
  flex-direction: column;
  max-width: 76.8rem;
  margin: 0 auto;
}

/* footer section 1 */
.footer_section1 {
  padding: 4.8rem 0;
  display: block;
}
.footer_menus {
  display: flex;
  max-width: 76.8rem;
  font-size: 1.4rem;
}
.footer_menus_row {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 33%;
  list-style-type: disc;
}
.footer_menus_item:not(:last-child) {
  margin-bottom: 1.6rem;
}
.footer_menus_item {
  width: fit-content;
  list-style: none;
  margin: 1.6rem;
}
.footer_menus_item a {
  text-decoration: none;
  outline: 0;
  color: black;
}
.footer_menus_item a:hover {
  text-decoration: underline;
}
.footer_download {
  float: right;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
.footer_download_text {
  line-height: 1.4;
  font-size: 1.4rem;
  font-weight: 700;
  padding-left: 5px;
}
.footer_download_buttons {
  display: flex;
}
.footer_download_button {
  display: block;
  margin-top: 0.8rem;
  text-decoration: none;
  outline: 0;
  display: flex;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.4rem;
  width: 147px;
  height: 44px;
}
.ml {
  margin-left: 1rem;
}
.footer_download_button div {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  background-color: #eaebee;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer section 2 */
.footer_section2 {
  border-top: 1px solid lightgray;
  padding: 2.4rem 0 10rem;
  position: relative;
}
.footer_info {
  color: gray;
  font-size: 1.3rem;
}
.footer_detailed {
  line-height: 1.5;
  margin-bottom: 1.6rem;
}
.footer_requests {
  margin-bottom: 1.6rem;
  display: block;
}
.footer_requests a {
  margin-right: 1.6rem;
  line-height: 1.5;
  text-decoration: none;
  outline: 0;
  font-weight: 700;
  color: gray;
}
.footer_requests a:hover {
  text-decoration: underline;
}
.footer_icons {
  margin-top: 0;
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  position: absolute;
  top: 2rem;
  right: 0;
}
.footer_icon {
  margin-right: 1.6rem;
  text-decoration: none;
  outline: 0;
  color: gray;
  font-size: 2rem;
}
.footer_language {
  color: gray;
  font-size: 2rem;
  display: flex;
  padding: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.footer_language select {
  color: gray;
  background-color: white;
  border: none;
  text-indent: 0.1rem;
  cursor: pointer;
  -webkit-appearance: none;
  padding-left: 0.5rem;
}
.footer_rules {
  flex-wrap: wrap;
  display: flex;
  grid-column: 1/4;
  font-size: 1.3rem;
}
.footer_rule {
  margin-right: 1.6rem;
  line-height: 1.5;
}
.footer_rule a {
  line-height: 1.5;
  text-decoration: none;
  outline: 0;
  font-weight: 700;
  white-space: nowrap;
  color: gray;
}
.footer_rule a:hover {
  text-decoration: underline;
}
